<ion-header>
  <ion-toolbar>
    <ion-title>Detalhes do plano {{nomeDoPlano}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-card>
  <ion-card-content>
    <ion-card-title>
      {{nomeDoPlano}}
    </ion-card-title>
    <div style="display: flex; flex-direction: column;">
    <ion-label>Custo mensal</ion-label>
    <p>{{custoMensal}}</p>
   </div>
   <div style="display: flex; flex-direction: column;">
    <ion-label>Faturamento</ion-label>
    <p>{{FaturamentoMensal}}</p>
   </div>
  </ion-card-content>
</ion-card>
</ion-content>
